/* Set general styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Set styles for the navigation bar */
  nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    padding: 10px 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Set styles for headings and drop-down content */
  .heading {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px;
  }
  
  .drop-content {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  /* Set styles for the table */
  table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Custom styles for the page */
  html {
    cursor: url('pointer_UA.png'), auto;
    overflow-x: hidden; 
  }

  body {
    margin: 0;
    color: rgb(130, 138, 143);   
  }

  div[role="banner"] {
    justify-content: center;
    color: white;
    background: #003249;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  h1 {
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  nav {
    background: rgba(95,106,114,50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }

  .content {
    padding: 0 10vw;
    margin-top: 80px;
    justify-content: center;
  
  }

  .heading {
    color: black;
  }

  .cases {
    font-weight: bolder;
  }

  .item {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(95,106,114,50%);
  }

  .drop-content { 
    color: hsl(240, 6%, 50%);
    padding-bottom: 0;
    margin: 0;
  }

  .ucd {
    width: 87vw;
    max-width: 500px;
  }

  p.ext {
    padding: 0;
    margin: 0;
    padding-left: 25px;
    line-height: 20px;
  }

  ul.ext {
    margin: 0;
 
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }